@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@font-face {
  font-family: idroid;
  src: url(../assets/fonts/idroid.otf);
}

:root {
  --green1: #45e48d;
  --green2: #227648;
  --green3: #84E1AD;
  --green4: #1A5C38;
  --green5: #84e1acbb;
  --white: #fff;
  --black: #000;
  --soft-black: #0000009f;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green3);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--soft-black);
}

.color {
  color: var(--green2);
  font-weight: bold;
}

header {
  background: linear-gradient(to bottom, var(--green1), var(--green2));
  color: var(--white);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title h1 {
  text-transform: uppercase;
  font-family: 'Share Tech', sans-serif;
}

.title p {
  text-align: center;
  width: 30%;
  margin-top: 20px;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  padding: 10px 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  padding: 10px 8px;
}

.navigation ul li a:hover {
  transition: .3s;
  color: var(--green2);
  background-color: var(--green1);
  padding: 10px 8px;
  border-radius: 3px;
}

main {
  width: 60%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 20px;
  text-align: justify;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

main h2 {
  font-family: idroid;
  color: var(--green2);
}

main p {
  margin: 15px 0;
  text-indent: 30px;
  line-height: 30px;
}

main h3 {
  font-family: idroid;
  color: var(--green2);
  background: linear-gradient(to right, var(--green5), var(--white));
  text-indent: 10px;
  padding: 3px 0;
}

main a {
  text-decoration: none;
  color: var(--green2);
}

.link {
  background-color: var(--green5);
  padding: 2px 5px;
}

.link:hover {
  text-decoration: underline;
}

main img {
  display: flex;
  margin: 0 auto;
}

.irina-blok {
  width: 100%;
}

.video {
  background-color: var(--green4);
  padding: 15px;
  margin: 0 -20px;
}

.video div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--green4);
  color: var(--white);
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}